@font-face { font-family: QuiteMagicalRegular; src: url('Fonts/QuiteMagicalRegular-8VA2.ttf'); }
@font-face { font-family: PeachesForBreakfastRegular; src: url('Fonts/PeachesForBreakfastRegular-5dZz.ttf'); }
@charset "UTF-8";

/***********************************
    /* 1. BODY */
/***********************************/

* {
margin: 0;
padding: 0;
-webkit-text-size-adjust: none;
}

html, body {
height: 100%;
overflow: hidden;
}
body {
background-image: url(Images/comingSoonImage.jpg);
background-repeat: no-repeat;
background-size: cover;
font-family: "QuiteMagicalRegular" , sans-serif;
color: white;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 6fr 3fr 1fr;
justify-items: center;
align-items: center;
width : 100%;
height: 100%;
}
.container
{
  grid-column: 1/-1;
  padding: 1px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  line-height: 1;
  width: 100%;
}
h1,a
{
  font-size: 6vw;
  color: #FBE2EC;
  text-decoration: none;
}
h2,label,#error-msg
{
  font-size: 3vw;
  font-family: "PeachesForBreakfastRegular" , sans-serif;

}

.shine
{
  font-weight: bold;
  animation: shimmer 10s infinite;
}
@-webkit-keyframes shimmer {
    0% {
        color: white;
      }
    25%
    {
      color: #FBE2EC;
    }
    75%
    {
      color: #7FC7B3;
    }
    100%
    {
      color : white;
    }
}
img
{
  width: 70%;
  height: auto;
}
img:hover
{
  width: 80%;
}
.contact
{
  border-top: 3px solid #FBE2EC;
  padding-top: 6px;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  width: 30%;
  justify-items : center;
  align-items: center;
  align-self: center;
  bottom: 0px;
}
.box
{
  text-align: center;
}


/* newsletter*/
  #mc_embed_signup
  {
    grid-column: 1/-1;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    line-height: 1;
    width: 100%;
  }
  #mc-embedded-subscribe-form
  {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

  }
  #mc-embedded-subscribe-form>label
  {
    align-self: center;
  }
  #mce-EMAIL
  {
    display: flex;
    align-items: center;
    height: 46px;
    width: 300px;
    background: #FDFCFB;
    font-family: inherit;
    color: #737373;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
    border: 1px solid #737373;
    border-right: 0px;
    padding: 0;
    margin: 0;
  }

  #mc-embedded-subscribe
  {
border: none;
  width: 150px;
  height: 48px;
  background: #CE525F;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
  border: 1px solid #B33948;
  padding: 0;
  margin: 0;
  }
  #mc-embedded-subscribe:hover
{
  background: #B33948;
}
input:focus
{
  border: none;
 border: 1px solid #E86C8D;
}
.inputs
{
width: 100%;
height: 48px;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 2vh;
margin-bottom: 5vh;
}
.inputs>input
{
  font-size: 150%;

}
#mce-EMAIL:focus
{
   outline: none ;
  border: 1px solid #E86C8D;
}
.modal {
  display : none;/* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  position : fixed;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(11, 87, 94,0.4); /* Black w/ opacity */
  align-items: center;
  justify-items: center;
}

/* Modal Content */
.modal-content {
  background-color: rgba(251, 226, 236,0.95);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: auto;
  color : #0F2D30;
  border-radius: 20px;
  shape-outside: border-box;
}

/* The Close Button */
.close {
  color: #0B575E;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #0F2D30;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width : 900px) {
  h1,a
  {
    font-size: 7vw;
  }
  h2,label,#error-msg
  {
    font-size: 4vw;
  }
}
@media screen and (max-width : 500px) {
  h1,a
  {
    font-size: 9vw;
  }
  h2,label,#error-msg
  {
    font-size: 6vw;
  }
  #mce-EMAIL
  {

    width: 170px;
  }
  #mc-embedded-subscribe
  {
    width: 90px;
  }
}
